.copyright{
    position: fixed!important;
}
.unlimited-access .unlimited-access-img {
    margin: 0!important;
}

.submenu{
    background-color:#EEF3FF!important;
    margin-top:-2px!important;
}
.submenu li a{
    margin-left: 10px!important;
    color: rgb(49, 49, 49)!important;

}

.app-header{
    border-bottom: 1px solid rgb(229,234,239) !important;
}