{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% block dashcontent %}

<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>


<div class="container mt-5">
 
    <h2> Keyword: {{failed_info_bulk_post.keyword_name}} </h2>

    <div class="border p-2 mt-3 mb-2" style="border-color: #DEE2E7 !important;">Post Status: {{failed_info_bulk_post.status}}</div>
    <div class="border p-2 mt-3 mb-3" style="border-color: #DEE2E7 !important;">Post Status: {{failed_info_bulk_post.error}}</div>
    <textarea name="content" id="id_content">{{ failed_info_bulk_post.content }}</textarea>
    <script>
        // Initialize the CKEditor instance
        CKEDITOR.replace('id_content');
    </script>

</div>

{% endblock dashcontent %}