{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% block dashcontent %}
        
<div class="container">
    
    <div class="brand-bg rounded ">
        <h1 class="h4 py-3 mt-1 mb-0 ms-3 text-white"> Bulk Info Keyword Automation 🚀</h1>
        <p class="ms-3 pb-3">Publish Unlimited Article within a few click... 👉 </p>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <div class="row g-2">
            <div class="col-md-8 justify-content-left align-items-left">
                <label class="form-label h5 mb-3">Keyword List</label>
                <div class="form-floating" style="width:90%">
                    <textarea name="keyword_list" class="form-control" id="floatingTextarea2" style="height: 260px"></textarea>
                </div>
            </div>

            <div class="col-md-4 justify-content-end align-items-end">
                <label class="form-label h5 mb-3">Options</label>
                <select name="website_id" class="form-select" aria-label="Default select example">
                    <option value="0" selected>Select Website</option>
                    {% for single_website in website  %}
                    <option value="{{single_website.id}}">{{single_website.website_name}}</option>
                    {% endfor %}
                </select>

        
                <select name="openaiapi_id" class="form-select mt-3" aria-label="Default select example">
                    <option selected value="enable">Image Enable</option>
                    <option value="disable">Image Disable</option>
                </select>
        
                <select name="youtubeapi_id" class="form-select mt-3" aria-label="Default select example">
                    <option value="0" selected>Select Youtube API</option>
                    {% for single_youtubeapi in youtubeapi  %}
                    <option value="{{single_youtubeapi.id}}">{{single_youtubeapi.name}}</option>
                    {% endfor %}
                </select>
        
                <div class="input-group mt-3">
                    <input name="category" type="text" class="form-control" placeholder="Category Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
        
                <select name="status" class="form-select mt-3" aria-label="Default select example">
                    <option value="0" selected>Post Status</option>
                    <option value="publish">Publish</option>
                    <option value="draft">Draft</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn brand-bg mt-4">Start Making Post</button>
    </form>
</div>


<div class="container mt-5">
        <div class="row justify-content-center align-items-center g-2 mb-5">
            <div class="col-md-6">
                <label class="form-label mb-1">Pending Keyword List</label>
                <div class="mb-3">
                  <label for="" class="form-label"></label>
<textarea class="form-control h-auto" name="" p readonly rows="3" style="background-color:#E9ECEF;height:200px">
{% for keyword in keyword_pending  %}{{keyword.keyword_name}} , Status: {{keyword.status}}
{% endfor %}
</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label mb-1">Completed Keyword List</label>
                <div class="mb-3">
                  <label for="" class="form-label"></label>
<textarea class="form-control h-auto" name="" id="" readonly  rows="3" style="background-color:#E9ECEF;height:200px">
{% for keyword in keyword_completed  %}{{keyword.keyword_name}} , Status : {{keyword.status}}
{% endfor %}
</textarea>
                </div>
            </div>
        </div>
</div>


<div class="container mt-5">
    <div class="row justify-content-center align-items-center g-2 mb-5">

        <div class="col-md-6">
            <label class="form-label mb-1">Logs</label>
            <div class="mb-3">
              <label for="" class="form-label"></label>
<textarea class="form-control h-auto" name="" id="" readonly rows="3" style="background-color:#272727;height:200px">
{% for keyword in keyword_pending  %}{{keyword.error}}  
{% endfor %}
</textarea>
            </div>
            
        </div>

        <div class="col-md-6">
            <label class="form-label mb-1">Failed Keyword List</label>
            <div class="mb-3">
              <label for="" class="form-label"></label>
<textarea class="form-control h-auto" name="" p readonly rows="3" style="background-color:#E9ECEF;height:200px">
{% for keyword in keyword_faild  %}{{keyword.keyword_name}} , Status : {{keyword.status}}
{% endfor %}
</textarea>
            </div>
        </div>

    </div>
</div>

{% endblock dashcontent %}


