{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% block dashcontent %}
        
<div class="container">

    <div class="brand-bg rounded ">
        <h1 class="h4 py-3 mt-1 mb-0 ms-3 text-white"> Single Info Keyword Posting 🚀</h1>
        <p class="ms-3 pb-3">Publish a High Quality Article within a few steps... 👉 </p>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <div class="row g-2">
            <div class="col-md-8">
                <div class="row g-2">
                    <label for="" class="form-label fs-4 fw-normal">Keyword</label>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text"
                              name="keyword" class="form-control" name="keyword" id="">
                          </div> 
                    </div>
                    <div class="col-4">
                        <a name="title" value ="" class="btn btn-primary" href="#" role="button">Generate Title</a>
                    </div>
                </div>
        
                <div class="row g-2">
                    <label for="" class="form-label fs-4 fw-normal">Title</label>
                    <div class="col-8">
                        <div class="mb-3">
                            <input type="text"
                              class="form-control" name="keyword" id="">
                          </div> 
                    </div>
                    <div class="col-4">
                        <a name="title" value ="" class="btn btn-primary" href="#" role="button">Generate Outline</a>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-11">
                        <label for="" class="form-label fs-4 fw-normal">Outline</label>
                        <div class="form-floating">
                            <textarea name="outline" class="form-control" id="floatingTextarea2" style="height: 200px"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <label class="form-label h5 mb-3">Options</label>
                <select name="website_id" class="form-select" aria-label="Default select example">
                    <option value="0" selected>Select Website</option>
                    {% for single_website in website  %}
                    <option value="{{single_website.id}}">{{single_website.website_name}}</option>
                    {% endfor %}
                </select>

        
                <select name="openaiapi_id" class="form-select mt-3" aria-label="Default select example">
                    <option value="0" selected>Select AI Model</option>
                    <option value="gpt-3">GPT-3</option>
                    <option selected value="chatmodel">Chat GPT 3.5 +</option>
                    <option value="chat4">Chat GPT 4</option>

                </select>
        
                <select name="youtubeapi_id" class="form-select mt-3" aria-label="Default select example">
                    <option value="0" selected>Select Youtube API</option>
                    {% for single_youtubeapi in youtubeapi  %}
                    <option value="{{single_youtubeapi.id}}">{{single_youtubeapi.name}}</option>
                    {% endfor %}
                </select>
        
                <div class="input-group mt-3">
                    <input name="category" type="text" class="form-control" placeholder="Category Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
        
                <select name="status" class="form-select mt-3" aria-label="Default select example">
                    <option value="0" selected>Post Status</option>
                    <option value="publish">Publish</option>
                    <option value="draft">Draft</option>
                </select>
            </div>
        </div>


        <button type="submit" class="btn brand-bg mt-4">>> Next Steps</button>
    
    </form>
</div>

<div class="container mt-5">
    <ul class="list-group">
        {% for keyword in keyword_pending  %}
        <li class="list-group-item">
            {{keyword.name}} <span style="border-bottom:2px solid red;">Status</span> : {{keyword.status}}    
            <span class="border rounded ms-2 p-1 bg-warning">{{keyword.error}}</span> 
            <a class="btn btn-danger ms-3 m-1" href="{% url 'delete_pending_single_post' keyword.id %}">Cancel</a>  
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock dashcontent %}


